{% extends "gameinterface/site.html" %}
{% block body %}
<div id="resources-bar">
  <table id="resources-table"><tr>
    {% for resource in res %}
      <td class="resource_cell">
      <div class="resource_counter">
      <b class="resource_label">{{ resource.name }}: </b>{{ resource.value }}</div></td>
      {% if forloop.counter|divisibleby:"6" %}
        </tr><tr>
      {% endif %}
    {% endfor %}
  </tr></table>
</div>

<div id="side-menu-left">
  {% for menu_item in menu_left %}
    {% if menu_item.label == menu_select%}
      <div class="side-menu-left-item-selected">
        {{menu_item.label}}
      </div>
    {% else %}
      <div class="side-menu-left-item">
        {{menu_item.label}}
      </div>
    {% endif %}
  {% endfor %}
</div>

<div id="side-menu-right">
  {% for menu_item in menu_right %}
    {% if menu_item.label == menu_select%}
      <div class="side-menu-right-item-selected">
        {{menu_item.label}}
      </div>
    {% else %}
      <div class="side-menu-right-item">
        {{menu_item.label}}
      </div>
    {% endif %}
  {% endfor %}
</div>

<div id="content-box">
  {% block content %} {% endblock content %}
</div>
{% endblock body%}
